.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.contact {
  display: flex;
  width: 80px;
  height: 42px;
  padding-right: 1px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #242f35;
  background: #497361;
}
